<nav>
	{{#link-to 'home'}}
  	<img {{action 'setActive' on='mouseEnter'}} {{action 'setInactive' on='mouseLeave'}} src={{logoUrl}} class="top-nav-logo">
	{{/link-to}}
  <ul class="nav-links">
    <li>{{link-to 'HOME' 'home'}}</li>
    <li>{{link-to 'DISCOVER' 'discover'}}</li>
		{{#if isLoggedIn}}
    	<li class="user-profile" {{action 'togglePanel'}}>
				<img src="/assets/profile-brian.jpg">
			</li>
			{{#if panelActive}}
				<div class="panel">
					<span {{action 'logout'}}>Log Out</span>
				</div>
			{{/if}}
		{{else}}
		  <li>{{link-to 'LOGIN' 'login'}}</li>
    	<li>{{link-to 'SIGN UP' 'sign-up'}}</li>
		{{/if}}
  </ul>
</nav>
