<div class="card" {{action "test"}}>
  <div class="image">
    <img src="{{event.imageUrl}}">
  </div>
  <div class="content">
    <div class="date">
      <span>{{event.month}}</span>
      <span>{{event.day}}</span>
    </div><div class="info">
      <h3>{{event.name}}</h3>
      <span>{{event.time}}</span>
      <span>{{event.location}}</span>
    </div>
  </div>
  <div class="card-footer">
    <div class="attendance">
      <span>100</span> EVENTRS GOING
    </div>

    <div class="button-going">GOING</div>
  </div>
</div>
